{% block content %}
  <p>Estás recibiendo este correo electrónico porque solicitaste restablecer la contraseña de tu cuenta de usuario en {{ site_name }}.</p>
  <p>Por favor, ve a la siguiente página y elige una nueva contraseña:</p>
  <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Restablecer mi contraseña</a></p>
  <p>Tu nombre de usuario, en caso de que lo hayas olvidado: {{ user.get_username }}</p>
  <p>¡Gracias por usar nuestro sitio!</p>
{% endblock %}
