{% extends 'base/base.html' %}

{% block title %}
    Acerca de Onlyflans
{% endblock %}

{% block content %}
 <div class="container" style="background: white;"> 
    <h1 class="text-center py-3 border-bottom">Nosotros</h1>
    <div class="text-center">
      <p>Somos OnlyFlans, apasionados por la excelencia en la pastelería. Nos especializamos en la creación de flanes exquisitos, ofreciendo una amplia variedad de sabores y una experiencia única de sabor y frescura. Nuestro compromiso con la calidad nos impulsa a utilizar ingredientes frescos y naturales en cada preparación, garantizando así la máxima satisfacción de nuestros clientes. En OnlyFlans, nos esforzamos por brindar un servicio al cliente excepcional, atendiendo cada pedido con cuidado y dedicación. Únete a nosotros en este viaje gastronómico y descubre el delicioso mundo de los flanes con OnlyFlans.</p>
  </div>
  </div> 
{% endblock %}
  